---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button/Button.astro';
import { Image } from 'astro:assets';
import coverImage from '../images/cover@2x.jpg';
import rafaelloOne from '../images/rafaello-1.jpeg';
import rafaelloTwo from '../images/rafaello-2.jpeg';
import rafaelloThree from '../images/rafaello-3.jpeg';
import rafaelloFour from '../images/rafaello-4.jpeg';
import spisTresciOne from '../images/spis-tresci-1.jpeg';
import spisTresciTwo from '../images/spis-tresci-2.jpeg';
import spisTresciThree from '../images/spis-tresci-3.jpeg';
import spisTresciFour from '../images/spis-tresci-4.jpeg';
import Accordion from '../components/Accordion/accordion.astro';
import Gallery from '../components/Gallery/Gallery.astro';
import {SNIADANIA, SLODKOSCI, SLODKIE_DODATKI, SMOOTHIES} from '../setup/setup.js'	
const images = [coverImage, spisTresciOne, spisTresciTwo, spisTresciThree, spisTresciFour, rafaelloOne, rafaelloTwo, rafaelloThree, rafaelloFour,]
---

<Layout title="Po wegańsku. Na słodko.">
	<aside>
		<Gallery>
			{images.map((image) => <Image src={image} alt="Po wegańsku. Na słodko. Okładka." width={1000}/>)}
	</Gallery>	
	</aside>
	<main>
		<div class="wrapper">
			<h1>Po wegańsku. Na słodko.</h1>
			<div class="description">

				<p>Książka jest kierowana do wszystkich. Wegan czy nie wegan. To nie jest istotne. Chcę, abyście z moich przepisów czerpali inspirację do lepszego traktowania swojego ciała, a może nawet spędzili trochę czasu i poczytali o weganizmie.</p>
			</div>
			<div class="details">
				<div class="price">
					<Button label="Kupuję — 49 zł" href="https://buy.stripe.com/fZeeWr3BVdin3xSaEE"/>
				</div>
			<div class="recipes">
				<h3>Znajdziesz tu 41 przepisów, które osłodzą Ci życie</h3>
				<div class="accordion-wrapper">
				<Accordion Title={`${SNIADANIA.length} śniadań`}>
					<ol>
						{SNIADANIA.map((item) => <li>{item}</li>)}
					</ol>
				</Accordion>
				<Accordion Title={`${SLODKOSCI.length} słodkości`}>
					<ol>
						{SLODKOSCI.map((item) => <li>{item}</li>)}
					</ol>
				</Accordion>
				<Accordion Title={`${SLODKIE_DODATKI.length} słodkich dodatków`}>
					<ol>
						{SLODKIE_DODATKI.map((item) => <li>{item}</li>)}
					</ol>
				</Accordion>
				<Accordion Title={`${SMOOTHIES.length} Smoothie`}>
					<ol>
						{SMOOTHIES.map((item) => <li>{item}</li>)}
					</ol>
				</Accordion>
			</div></div>
		</div>
	</div>

	
	</main>
</Layout>

<style>

	body {

		display: grid;
		grid-template-areas: 'aside main';
		grid-template-columns: 2fr 3fr;
		margin: 0;
		background-color: var(--color-bg-secondary);
	}

	aside {
		flex: 1 1 auto;
		top:0;
		background-color: var(--color-bg-secondary);
		height: 100vh;
		position: sticky;
		overflow: hidden;
		grid-area: aside;
		display: flex;
		align-items: center;
		& img {
			width: 100%;
			height: max-content;
			object-fit: contain;
			box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.05);
		}
	}

	main {
		flex: 2 1 auto;
		padding: var(--space-xxl) var(--space-xl);
		display: flex;
		flex-direction: column;
		grid-area: main;
		align-items: center;
		background-color: var(--color-bg-primary);
		& .wrapper {
			max-width: 500px;

		}

		& .details {
			display: flex;
			flex-direction: column;
			gap: var(--space-xl);
		}
		& .description {
			display: flex;
			flex-direction: column;
			margin-block: var(--space-s) var(--space-l);
			gap: var(--space-m);
		}
		
	}
	.price {
		display: flex;
		flex-direction: column;
		gap: var(--space-m);
	}

	.recipes {
		display: flex;
		flex-direction: column;
		gap: var(--space-m);
		margin-block-start: var(--space-s);
		& .accordion-wrapper {
			border-radius: 12px;
			border: 1px solid rgba(0, 0, 0, 0.06);
			overflow: hidden;
			display: flex;
			flex-direction: column;
			& > details:not(:last-child) {
				border-radius: 0;
		}
	}
	}

	@media  (width < 900px) {
		body {
			display: flex;
			flex-direction: column-reverse;
		}
		aside {
			height: fit-content;
			overflow: unset;
			& img {
				height: 100%;
				max-width: 400px;
			}
		}
	}

	@media  (width < 640px) {
		main {
			padding: var(--space-l);
			& .wrapper {
			max-width: unset;

		}
		}

	}
</style>
